<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated arrowhead -->
      <package
            uri="http://www.arrowhead.eu/metamodel/ecore"
            class="com.incquerylabs.arrowhead.ecore.ArrowheadPackage"
            genModel="model/arrowhead.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated arrowhead -->
      <parser
            type="arrowhead"
            class="com.incquerylabs.arrowhead.ecore.util.ArrowheadResourceFactoryImpl"/>
   </extension>
</plugin>
