<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated arrowhead -->
      <package
            uri="http://www.arrowhead.eu/ecore"
            class="com.incquerylabs.arrowhead.ecore.arrowhead.ArrowheadPackage"
            genModel="model/arrowhead.genmodel"/>
   </extension>

</plugin>
